{
  "vim_mode": true,
  "minimap": {
    "show": "auto"
  },
  "ui_font_size": 18.0,
  "buffer_font_size": 16.0,
  "ui_font_family": "Inter Variable",
  "theme": {
    "mode": "system",
    "light": "One Light",
    "dark": "One Dark - Darkened"
  },
  "icon_theme": "Base Charmed Icons",
  "buffer_font_family": "Monaspace Neon NF",
  "title_bar": {
    "show_onboarding_banner": false,
    "show_user_picture": false,
    "show_sign_in": false
  },
  "features": {
    "edit_prediction_provider": "none"
  },
  "ssh_connections": [
    {
      "host": "coder.debian",
      "projects": [
        {
          "paths": ["/home/lucas/Workspace/github.com/lucasfabre/Homelab"]
        }
      ]
    }
  ],
  "agent": {},
  "language_models": {
    "openai_compatible": {
      "Z.AI (Coding Plan)": {
        "api_url": "https://api.z.ai/api/coding/paas/v4/",
        "available_models": [
          {
            "name": "glm-4.6",
            "display_name": "GLM-4.6",
            "max_tokens": 200000,
            "capabilities": {
              "tools": true,
              "images": false,
              "parallel_tool_calls": true,
              "prompt_cache_key": true
            }
          },
          {
            "name": "glm-4.5-air",
            "display_name": "GLM-4.5 air",
            "max_tokens": 128000,
            "capabilities": {
              "tools": true,
              "images": false,
              "parallel_tool_calls": true,
              "prompt_cache_key": true
            }
          }
        ]
      }
    }
  },
  "context_servers": {
    "zai-mcp-server": {
      "source": "custom",
      "command": "bunx",
      "args": [ "@z_ai/mcp-server" ],
      "env": {
        "Z_AI_API_KEY": "{{ (bitwarden "item" "z.ai apikey").login.password }}",
        "Z_AI_MODE": "ZAI"
      }
    },
    "zai-web-search-prime": {
      "source": "custom",
      "command": "bunx",
      "args": [ "mcp-remote", "https://api.z.ai/api/mcp/web_search_prime/mcp", "--header", "Authorization: Bearer {{ (bitwarden "item" "z.ai apikey").login.password }}" ]
    }
  },
  "disable_ai": false
}
