#!/usr/bin/env bash

PACKAGES=(
  "fzf"
  "neovim"
  "ripgrep"
  "bat"
  "eza"
  "oh-my-posh"
  "thefuck"
  "zsh"
  "zoxide"
  "zellij"
  "lazygit"
)

SPECIAL_PACKAGES=(
  "oh-my-posh"
  "zellij"
)

function install_special() {
  for PKG in "$@"; do
    if [[ " ${SPECIAL_PACKAGES[*]} " =~ $PKG ]]; then
      case $PKG in
      "oh-my-posh")
{{ if eq .chezmoi.os "linux" }}
        curl -s https://ohmyposh.dev/install.sh | bash -s
{{end}}
        ;;
      *)
        echo "Unknown special package: $PKG"
        ;;
      esac
    fi
  done
}

function init() {
  :
}

function list_available() {
  for package in "${PACKAGES[@]}"; do
    echo "$package"
  done
}

function install_packages() {
{{ if eq .chezmoi.osRelease.id "debian" }}
  sudo apt update
{{ end }}
  PACKAGES_TO_INSTALL=()
  SPECIAL_PACKAGES_TO_INSTALL=()
  # remove the special packages from the list
  for pkg in "$@"; do
    if [[ " ${SPECIAL_PACKAGES[*]} " =~ $pkg ]]; then
      SPECIAL_PACKAGES_TO_INSTALL+=("$pkg")
    else
      PACKAGES_TO_INSTALL+=("$pkg")
    fi
  done

{{ if eq .chezmoi.osRelease.id "debian" }}
  sudo apt install -y "${PACKAGES_TO_INSTALL[@]}"
{{ end }}
  install_special "${SPECIAL_PACKAGES_TO_INSTALL[@]}"
}

function uninstall_packages() {
  sudo apt remove -y "$@"
}
